[Unit]
Description=Glassmorph Node.js App
After=network.target

[Service]
ExecStart=/usr/local/bin/npm run start
WorkingDirectory=/home/MaheshTechnicals/web/glassmorph.me/public_html
Restart=always
User=MaheshTechnicals
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
Environment=NODE_ENV=production
StandardOutput=journal
StandardError=journal
SyslogIdentifier=glassmorph

[Install]
WantedBy=multi-user.target
